---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: gitlab-registry
  namespace: ckad-apps
spec:
  encryptedData:
    .dockerconfigjson: <GERADO_PELO_KUBESEAL>
  template:
    metadata:
      name: gitlab-registry
      namespace: ckad-apps
    type: kubernetes.io/dockerconfigjson
